*.class
*.d
*.o
*~
.*.sw?
/.clang_complete
/A.hh
/B.hh
/Build.java
/C.hh
/FlexLexer.h
/JCni.hh
/JMain.hh
/Parser.hh
/Parser.java
/X.hh
/Y.hh
/Z.hh
/_src_.c
/build.h
/core
/core.[0-9]*[0-9]
/javapkg/PackClass.hh
/obj/
/parse-test.c
/parse-test.h
/parse-test2.cc
/parse-test2.hh
/parse-test3.cc
/parse-test3.hh
/scan-test.c
/scan-test2.cc
/scan-test3.cc
/valgrind_*.log
/vmultilangdemo
/vmultilangdemo.core
/vmultilangdemo.dSYM
